#header {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  text-align: center;
  left: 0;
  top: 0;
  width: 100vw;
  height: 8%;
  background-color: #dde0ea;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
  z-index: 2;
  .logo{
      width: 90%; 
  }
  .search-bar{
      display: flex; //common sytle children
      justify-content: center; //common sytle children
      align-items: center; //common sytle children
      height: 50%; //common sytle children
      width: 90%; //common sytle children
      background-color: #b6bbc8;
  }
  .buttons-wrap{
      width: 90%; 
      display: flex;
      justify-content: space-around;
  }
}